In [0]:
import tensorflow as tf

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
ls -l

total 8
drwx------ 3 root root 4096 Apr  6 05:23 gdrive/
drwxr-xr-x 1 root root 4096 Apr  4 20:20 sample_data/

### 1. Read the dataset

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/bank.csv')

In [6]:
data.head().T

                        0         1         2         3         4
RowNumber               1         2         3         4         5
CustomerId       15634602  15647311  15619304  15701354  15737888
Surname          Hargrave      Hill      Onio      Boni  Mitchell
CreditScore           619       608       502       699       850
Geography          France     Spain    France    France     Spain
Gender             Female    Female    Female    Female    Female
Age                    42        41        42        39        43
Tenure                  2         1         8         1         2
Balance                 0   83807.9    159661         0    125511
NumOfProducts           1         1         3         2         1
HasCrCard               1         0         1         0         1
IsActiveMember          1         1         0         0         1
EstimatedSalary    101349    112543    113932   93826.6   79084.1
Exited                  1         0         1         0         0

### 2. Drop the columns which are unique for all users like IDs (2.5 points)

In [0]:
data_new = data.drop(['CustomerId','RowNumber','Surname'], axis =1)

In [8]:
data_new.head().T

                      0        1       2        3        4
CreditScore         619      608     502      699      850
Geography        France    Spain  France   France    Spain
Gender           Female   Female  Female   Female   Female
Age                  42       41      42       39       43
Tenure                2        1       8        1        2
Balance               0  83807.9  159661        0   125511
NumOfProducts         1        1       3        2        1
HasCrCard             1        0       1        0        1
IsActiveMember        1        1       0        0        1
EstimatedSalary  101349   112543  113932  93826.6  79084.1
Exited                1        0       1        0        0

### 3. Distinguish the feature and target set (2.5 points)

In [0]:
### Features
X = data_new.iloc[:,:-1]

In [10]:
X.head().T

                      0        1       2        3        4
CreditScore         619      608     502      699      850
Geography        France    Spain  France   France    Spain
Gender           Female   Female  Female   Female   Female
Age                  42       41      42       39       43
Tenure                2        1       8        1        2
Balance               0  83807.9  159661        0   125511
NumOfProducts         1        1       3        2        1
HasCrCard             1        0       1        0        1
IsActiveMember        1        1       0        0        1
EstimatedSalary  101349   112543  113932  93826.6  79084.1

In [0]:
y = data_new.iloc[:,-1]

In [12]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [13]:
X.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [0]:
### Label Encoding to ensure character variables can be normalised

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X_1 = LabelEncoder()
X.iloc[:, 1] = labelencoder_X_1.fit_transform(X.iloc[:, 1])

labelencoder_X_2 = LabelEncoder()
X.iloc[:, 2] = labelencoder_X_2.fit_transform(X.iloc[:, 2])

In [15]:
X.head().T

                         0          1          2         3          4
CreditScore         619.00     608.00     502.00    699.00     850.00
Geography             0.00       2.00       0.00      0.00       2.00
Gender                0.00       0.00       0.00      0.00       0.00
Age                  42.00      41.00      42.00     39.00      43.00
Tenure                2.00       1.00       8.00      1.00       2.00
Balance               0.00   83807.86  159660.80      0.00  125510.82
NumOfProducts         1.00       1.00       3.00      2.00       1.00
HasCrCard             1.00       0.00       1.00      0.00       1.00
IsActiveMember        1.00       1.00       0.00      0.00       1.00
EstimatedSalary  101348.88  112542.58  113931.57  93826.63   79084.10

In [16]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
### After ONEHOT Encoding, lets drop the first column and consider the remaining two encoded variables
X = X[:, 1:]

### 4. Divide the data set into Train and test sets

In [0]:
from sklearn.model_selection import train_test_split

### Split the Dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=7)

### 5. Normalize the train and test data (2.5 points)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [0]:
X_sc_train = scaler.fit_transform(X_train)

In [0]:
X_sc_test = scaler.transform(X_test)

In [22]:
X_sc_train.shape

(7000, 11)

### 6. Initialize and build the model (10 points)

In [0]:
#Initialize Sequential model
model = tf.keras.models.Sequential()

#model.add(input_shape=(11,))

In [24]:
#Add 1st hidden layer
model.add(tf.keras.layers.Dense(22, activation = 'relu', input_shape=(11,)))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [0]:
#Add 2nd hidden layer
model.add(tf.keras.layers.Dense(22, activation = 'relu'))

In [0]:
#Add 3rd hidden layer
model.add(tf.keras.layers.Dense(11, activation='sigmoid'))

In [0]:
#Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [28]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 22)                264
_________________________________________________________________
dense_1 (Dense)              (None, 22)                506
_________________________________________________________________
dense_2 (Dense)              (None, 11)                253
=================================================================
Total params: 1,023
Trainable params: 1,023
Non-trainable params: 0
_________________________________________________________________

### 7. Optimize the model (5 points)

In [29]:
model.fit(X_sc_train,y_train,          
          validation_data=(X_sc_test,y_test),
          epochs=30,
          batch_size=50)

Train on 7000 samples, validate on 3000 samples
Epoch 1/30
7000/7000 [==============================] - 0s 54us/sample - loss: 1.3746 - acc: 0.7544 - val_loss: 0.6096 - val_acc: 0.7983
Epoch 2/30
7000/7000 [==============================] - 0s 34us/sample - loss: 0.5033 - acc: 0.7954 - val_loss: 0.4548 - val_acc: 0.7983
Epoch 3/30
7000/7000 [==============================] - 0s 34us/sample - loss: 0.4465 - acc: 0.7954 - val_loss: 0.4310 - val_acc: 0.7983
Epoch 4/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.4312 - acc: 0.7954 - val_loss: 0.4223 - val_acc: 0.7983
Epoch 5/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.4230 - acc: 0.7954 - val_loss: 0.4166 - val_acc: 0.7983
Epoch 6/30
7000/7000 [==============================] - 0s 36us/sample - loss: 0.4157 - acc: 0.7954 - val_loss: 0.4112 - val_acc: 0.7983
Epoch 7/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.4076 - acc: 0.7954 - val_loss: 0.4090 - val_acc: 0.7983
Epoch 8/30
7000/7000 [==============================] - 0s 34us/sample - loss: 0.4020 - acc: 0.7954 - val_loss: 0.4003 - val_acc: 0.7983
Epoch 9/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3942 - acc: 0.7954 - val_loss: 0.3972 - val_acc: 0.7983
Epoch 10/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3903 - acc: 0.7954 - val_loss: 0.3915 - val_acc: 0.7983
Epoch 11/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3860 - acc: 0.7954 - val_loss: 0.3887 - val_acc: 0.7983
Epoch 12/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3824 - acc: 0.7954 - val_loss: 0.3882 - val_acc: 0.7983
Epoch 13/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3796 - acc: 0.7954 - val_loss: 0.3853 - val_acc: 0.7983
Epoch 14/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3772 - acc: 0.7954 - val_loss: 0.3836 - val_acc: 0.7983
Epoch 15/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3765 - acc: 0.7954 - val_loss: 0.3829 - val_acc: 0.7983
Epoch 16/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3744 - acc: 0.7956 - val_loss: 0.3835 - val_acc: 0.7987
Epoch 17/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3730 - acc: 0.7957 - val_loss: 0.3839 - val_acc: 0.7987
Epoch 18/30
7000/7000 [==============================] - 0s 34us/sample - loss: 0.3723 - acc: 0.7960 - val_loss: 0.3841 - val_acc: 0.7987
Epoch 19/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3715 - acc: 0.7961 - val_loss: 0.3827 - val_acc: 0.8013
Epoch 20/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3703 - acc: 0.7983 - val_loss: 0.3815 - val_acc: 0.8043
Epoch 21/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3680 - acc: 0.8157 - val_loss: 0.3764 - val_acc: 0.8403
Epoch 22/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3579 - acc: 0.8507 - val_loss: 0.3619 - val_acc: 0.8470
Epoch 23/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3439 - acc: 0.8574 - val_loss: 0.3606 - val_acc: 0.8487
Epoch 24/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3405 - acc: 0.8587 - val_loss: 0.3560 - val_acc: 0.8517
Epoch 25/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3384 - acc: 0.8591 - val_loss: 0.3570 - val_acc: 0.8490
Epoch 26/30
7000/7000 [==============================] - 0s 34us/sample - loss: 0.3369 - acc: 0.8614 - val_loss: 0.3520 - val_acc: 0.8520
Epoch 27/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3357 - acc: 0.8623 - val_loss: 0.3548 - val_acc: 0.8520
Epoch 28/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3347 - acc: 0.8604 - val_loss: 0.3519 - val_acc: 0.8503
Epoch 29/30
7000/7000 [==============================] - 0s 33us/sample - loss: 0.3349 - acc: 0.8646 - val_loss: 0.3555 - val_acc: 0.8493
Epoch 30/30
7000/7000 [==============================] - 0s 32us/sample - loss: 0.3329 - acc: 0.8649 - val_loss: 0.3480 - val_acc: 0.8530

### 8. Predict the results using 0.5 as a threshold (5 points)

In [0]:
# Predicting the Test set results

y_pred = model.predict(X_sc_test)

In [0]:
import numpy as np
y_predict = np.argmax(y_pred,axis=1)

### 9. Print the Accuracy score and confusion matrix (2.5 points)

In [32]:
y_predict

array([1, 0, 0, ..., 0, 0, 0])

In [0]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
results = confusion_matrix(y_test, y_predict)

In [34]:
print('Confusion Matrix:')
print(results)

Confusion Matrix:
[[2282  113]
 [ 328  277]]

In [0]:
accuracy = accuracy_score(y_test, y_predict)

In [36]:
print ('Accuracy Score :')
print(accuracy)

Accuracy Score :
0.853